/* The Header Media Queries - Tweak as per your needs */

.brand {
    font-weight: bold;
    font-size: 20px;
  }
  
  .site-header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }
  
  .site-header > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  
  .nav__wrapper {
    list-style: none;
    font-size: 18px;
  }
  
  .site-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    margin: 0px auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo-texte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: auto;
    flex-direction: row;
    z-index: 2;
  }
  
  .logo-texte > h3 {
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 2rem;
    line-height: 1.4;
    color: blue;
  }
  
  .site-header__start {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  
  .site-header__start > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 50px;
  }
  
  .nav__item > a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .compte > a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .nav__item > a:hover,
  .compte:hover {
    color: #c9c9c9;
    transition: all 0.3s;
    border-bottom: 1px solid #c9c9c9;
  }
  
  .compte {
    width: 100px;
    border-radius: 40px;
    height: 50px;
    padding: 0 30px;
    background: #e8e8e8;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .compte:hover {
    background-color: #d9f9e3;
    color: #c9c9c9;
  }
  
  .pub-header {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 5px;
    z-index: 2;
  }
  
  .pub-header > h1 {
    font-size: 3em;
    color: black;
    font-weight: bold;
    height: auto;
    width: 80%;
  }
  
  .pub-header > p {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    height: auto;
    width: 80%;
  }
  
  @media (min-width: 630px) {
    .site-header__wrapper {
      justify-content: initial;
    }
  
    .site-header__middle {
      margin-left: auto;
    }
  
    .nav__wrapper {
      display: flex;
    }
  }
  
  @media (max-width: 677px) {
    .site-header__end {
      padding-right: 4rem;
    }
  
    .nav__wrapper {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      height: auto;
      z-index: 10;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      /* transform: translateY(-100%); */
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
  
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .nav__item a {
    display: block;
    padding: 1rem;
  }
  
  .nav__toggle {
    padding: 0.25rem  0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    width: 50px;
    height: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* padding: 5px; */
    display: none;
    position: absolute;
    top: 8%;
    transform: translateX(-50%);
  }
  
  @media (max-width: 677px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 40%;
      left: 95%;
    }
  }
  
  @media (max-width: 913px) {
     .nav__item > a{
      font-size: 18px;
     }
     .compte > a{
        font-size: 18px;
       }
}

  @media (max-width: 883px) {
      .pub-header{
       width: 60%;
      }
       .pub-header h1{
        font-size: 26px;
       }
       .pub-header p{
        font-size: 16px;
       }
       .nav__item > a{
        font-size: 15px;
       }
       .compte > a{
        font-size: 15px;
       }
       .logo-texte > h3{
        font-size: 20px;
       }
  }

  
  @media (max-width: 521px) {
    
    .logo-texte > h3{
     font-size: 23px;
    }
}
@media (max-width: 477px) {
    
    .logo-texte > h3{
     font-size: 16px;
    }
}

  