.corps-historiques{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.history-container {
    max-width: 800px;
    margin: 0 auto;
    background-color:#666;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .history-header {
    background-color: #333;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .history-title {
    color: #fff;
    font-size: 24px;
    margin: 0;
  }
  
  .history-content {
    padding: 20px;
  }
  .history-list{
    list-style-type: circle;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-top: 10px;
  }
  .history-item {
   
    margin-bottom: 20px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .history-date {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .history-description {
    color: #666;
  }
  
  .history-details p{
    padding: auto;
  }