.blocks-reservation-encours{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.blocks-reservation-encours .card-reservation {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin-left: 20px;
  }
  
  .card-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info-label {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    margin-right: 8px;
  }
  
  .info-value {
    font-size: 16px;
    color: #333333;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .info-button-res {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .info-button:hover {
    background-color: #0056b3;
  }
  
  @media (min-width: 768px) {
    .card-reservation {
      max-width: 800px;
    }
  }
  