@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../Images/young-woman-controlling-plantation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: initial;
}
.bloc-dashboard{
    width: 100%;
    height: auto;
    border: 0.6px solid #555;
    display: flex;
    overflow: hidden;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #A4A6B3;
    height: 80px;
    font-family:'Lobster', cursive;
}
.title>img{
    width: 30px;
    height: 30px;
}
.navBar-dashboard{
    width: 200px;
    border: 1px solid black;
    height: 100%;
    background-color: #363740;
}
.navBar-dashboard>ul{
    list-style: none;
    height: 70%;
    width: auto;
    display: block;
    margin-top: 30px;
   
}
.navBar-dashboard>ul>li{
    width: 100%;
    height: auto;
    display: block;
    padding: 15px;
}
.navBar-dashboard>ul>li:hover{
    border: 1px solid bisque;
}
.navBar-dashboard>ul>li>a{
  text-decoration: none;
  width: 100%;
  height: 30px;
  
}
.navBar-dashboard>ul>li>img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
.navBar-dashboard>ul>li>span{
   line-height: 30px;
}
.quit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.deco{
    border: none;
    width: 100%;
    padding: 15px;
}
.deco:hover{
    border: 1px solid bisque;
}
.deco>img{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

/* partie deux */
.bloc-contains{
    width: 90%;
    border: 1px solid black;  
}
.header-dashboard{
    border-bottom: 0.7px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.theme{
    margin-left: 10px;
    font-size: 1rem;
    font-family: 'Lobster', cursive;;
}
.theme-second{
    margin-right: 20px;
    width: 20%;
    height: auto;
}
.theme-second>ul{
display: flex;
list-style: none;
justify-content: space-around;
padding: 10px;
font-family: 'Lobster', cursive;
}
.theme-second>ul>li{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.theme-second>ul>li>img{
    width: 55px;
    height: 50px;
    vertical-align: middle;
}

.picture{
    width: 50px;
    height: 50px;
    border: 2px dashed black;
    border-radius: 50px;
}
.picture>img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

/* partie 3 */
.body-dash{
    /* border: 1px solid black; */
    margin-top: 10px;
    width: 100%;
    height: auto;
    /* background-color: blue; */
}
.bloc-row1{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 50px;
}
.card1{
    border: 1px solid black;
    margin-left: 10px;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    font-weight: bold;
   font-family:'Lobster', cursive;
}
.card1:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }


.content-admis{
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: auto;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 40px auto;
    border-radius: 1rem;
    border: .5vmin solid #05060f;
    box-shadow: .4rem .4rem #05060f;

}

.admis-recents{
    width: 60%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.admis-card{
    border: 0.4px solid black;
    /* border: none; */
    width: 200px;
    height: 120px;
    padding: 10px;
    /* margin-top: 10px; */
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
    background-color: white;
}
.admis-card:hover{
    transform: scale(1.2);
    margin-left: 20px;
    margin-right: 20px;
}
.photo-admis{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid black;
    margin-right: 10px;
}
.photo-admis>img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.photo-texte{
 flex-wrap: wrap;
 width: 60%;
}
.photo-texte>p{
    font-size: 16px;
    text-align: center;
    padding: 5px;
    color: gray;
    word-wrap: break-word;
}
.photo-texte>h4{
    font-size: 1.2rem;
    width: 100%;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}