@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #BDB76B;
}
.statuts{
    height: auto;
    width: 90%;
    /* border: 1px solid black; */
}
.statuts>h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 100px;
    border-bottom: .5vmin solid #05060f;;
    border-right: .5vmin solid #05060f;;
    width: 200px;
    height: 50px;
    margin: 80px auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .4rem .4rem #05060f;
    overflow: hidden;
}
.content-statuts{
    width: 40%;
    /* border: 1px solid black; */
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.statuts-row{
    border: 1px solid black;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.statuts-row>h4{
    border-radius: 10px;
}
.h4-1{
    background-color: blue;
}
.h4-2{
    background-color: yellow;
}
.h4-3{
    background-color: red;
}

/* my table */
.tableau{
    border: 1px solid black;
    border: none;
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 10px auto; 
    /* background-color: aliceblue;   */
}
table{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}
th{
    border: 1px solid black;
    padding: 10px;
    font-size: 24px; 
}
tr,td{
    border: 1px solid black;
    padding: 10px;
    font-size: 1.4rem;
} 
.choose-check{
    text-align: center;
    background-color: #05060f;
}

tr:nth-child(odd) {
    background-color: #379432;
  }
  
tr:nth-child(even) {
    background-color: #DAE0FF;
  }